name: Chrome Release

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

            - name: Set version
              id: version
              run: echo "manifest=$(jq -c . < manifest.json)" >> $GITHUB_ENV

            - name: Create zip
              run: make build/chrome

            - name: Upload to Chrome Web Store
              uses: wdzeng/chrome-extension@b167f5b883d2ade3c4209eccb62fa8307ae44434 # v1
              with:
                extension-id: apfbfjghmamodacdkkhoiabadlcgmikh
                zip-path: build/chrome/TPscanner-ext-${{ fromJson(env.manifest).version }}.zip
                client-id: ${{ secrets.CLIENT }}
                client-secret: ${{ secrets.SECRET }}
                refresh-token: ${{ secrets.REFRESH_TOKEN }}
                upload-only: false
