name: Edge Release

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

            - name: Set version
              id: version
              run: echo "manifest=$(jq -c . < manifest.json)" >> $GITHUB_ENV

            - name: Create Edge zip
              run: make build/chrome

            - name: Upload to the Edge Add-ons Store
              uses: wdzeng/edge-addon@d4db1eea77297a24d799394dec87e8912e0902f9 # v2
              with:
                product-id: ${{ secrets.EDGE_PRODUCT_ID }}
                zip-path: build/chrome/TPscanner-ext-${{ fromJson(env.manifest).version }}.zip
                client-id: ${{ secrets.EDGE_CLIENT_ID }}
                api-key: ${{ secrets.EDGE_API_KEY }}
